<h2>Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
<div class="show-edit">
  <div class="btn"><a class="btn-text" href="/books">Cancel</a></div>
  <button class="submit-btn" type="submit">Update</button>
</div>
</form>