<h2>New Books</h2>
<form class="form" action='/books' method='POST' >
    <%-include('_form_fields.ejs')%>
    <div class="new-author">
   <div class="btn"><a class="btn-text" href='/books'>Cancel</a></div>
    <button class="submit-btn" type='submit'>Create</button>
</div>
</form>
