<div class="head">
<header>
    <div class="title">
        <a id="title-link" href="/">Library Management System</a>
    </div>
    <nav>
        <ul>
            <li><a class="nav-link" href='/authors'>Authors</a></li>
            <li><a class="nav-link" href='/authors/new'>Add Authors</a></li>
            <li><a class="nav-link" href='/books'>Books</a></li>
            <li><a class="nav-link" href='/books/new'>Add Books</a></li>
        </ul>
    </nav>
</header>
</div>