<h2>Recently Added</h2>
<div>
  <% books.forEach(book => { %>
    <a href="/books/<%= book.id %>">
        <img height="250" class="book-image" width="200" src="<%= book.coverImagePath %>">
    </a>
  <% }) %>
</div>