<h2>New Authors</h2>
<form class="form" action='/authors' method='POST'>
    <%-include('_form_fields.ejs')%>
    <div class="show-edit">
    <div class="btn">
        <a class="btn-text" href='/authors'>Cancel</a>
    </div>
    <button class="submit-btn" type='submit'>Create</button>
</div>
</form>
